body {
  background-color: #666666;
}

textarea {
  resize: none;
  overflow: auto;
}

.Display {
  height: auto;
  overflow:auto;
}

.Result-Table {
  margin-top: 1vh;
  background-color: #222222;
  border-color: #FFFFFF;
  font-size: calc(8px + 2vmin);
  color: #FFFFFF;
  width: 90vw;
}

.MuiDataGrid-row:nth-child(odd){
  background-color: #363636;
}

.Header {
  background-color: #222222;
  height: 8vh;
  min-height: 8vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: calc(13px + 2vmin);
  color: #FFFFFF;
  vertical-align: middle;
}

.Header-Title {
  margin: 1vh 3vh 1vh 3vh;
  justify-self: left;
  display: flex;
  align-items: center;
  font-size: calc(8px + 2vmin);
  text-decoration: none;
  color: #FFFFFF;
}

.Header-Title:hover, .Header-Login:hover, .Header-Logout:hover, .Login-Submit-Button:hover,
.New-Account-Link:hover, .Onboard-Submit-Button:hover, .Password-Requirements:hover,
.All-Items:hover, .My-Items:hover, .Add-Item:hover, .New-Submit-Button:hover {
  cursor: pointer;
  opacity: 60%;
}

.Header-Title:active, .Header-Login:active, .Header-Logout:active, .Login-Submit-Button:active,
.New-Account-Link:active, .Onboard-Submit-Button:active, .Password-Requirements:active,
.All-Items:active, .My-Items:active, .Add-Item:active, .New-Submit-Button:active {
  opacity: 60%;
  scale:90%;
}

.Login-Submit-Button, .Onboard-Submit-Button, .New-Submit-Button {
  color: #FFFFFF;
  margin: 0vh 0vh 0vh 0vh;
  width: 30%;
  font-size: calc(8px + 2vmin);
  background-color: transparent;
  border: none;
}

.Header-Login, .Header-Logout, .Header-Greeting {
  margin: 1vh 3vh 1vh auto;
  justify-self: left;
  display: flex;
  align-items: center;
  font-size: calc(8px + 2vmin);
  text-decoration: none;
  color: #FFFFFF;
}

.Content {
  height: 90vh;
  padding: 1vh 3vh 1vh 3vh;
  font-size: calc(8px + 2vmin);
  display: flex;
  justify-content: center;
  background: url('./bg.png');
  background-size: cover;
}


.Login, .Onboard, .New {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Item-Filter, .Login-Container, .Onboard-Container, .New-Container {
  background-color: #222222;
  display: flex;
  flex-direction: row;
  width: 90vw;
  border-radius: 1rem;
}

.All-Items, .My-Items, .Add-Item {
  margin: 1vh 0vh 1vh 0vh;
  width: 30vw;
  height: 100%;
  font-size: calc(8px + 2vmin);
  color: #FFFFFF;
  background: transparent;
  border: none;
}

.Login-Entry, .Onboard-Entry, .New-Entry {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-self: left;
}

.Login-Field-User, .Login-Field-Pass, .Onboard-Field-First, .Onboard-Field-Last,
.Onboard-Field-User, .Onboard-Field-Pass, .New-Item-Name, .New-Item-Description,
.New-Item-Quantity {
 background: transparent;
 color: #FFFFFF;
 border: hidden;
 border-bottom-style: groove;
 border-color: #949494;
 font-size: calc(8px + 2vmin);
}

.Login-Field-User:focus, .Login-Field-Pass:focus, .Onboard-Field-First:focus,
.Onboard-Field-Last:focus, .Onboard-Field-User:focus, .Onboard-Field-Pass:focus,
.All-Items:focus, .My-Items:focus, .Add-Item:focus, .New-Item-Name:focus,
 .New-Item-Description:focus, .New-Item-Quantity:focus {
  outline: none;
  border-color: #FFFFFF;
}

.Login-Field-User, .Onboard-Field-First, .New-Item-Name {
  margin: 1.5vh 0vh .5vh 4.5vh;
}

.Onboard-Field-Last, .Onboard-Field-User, .New-Item-Description {
  margin: .5vh 0vh .5vh 4.5vh;
}

.Login-Field-Pass, .Onboard-Field-Pass {
  margin: .5vh 0vh .5vh 4.5vh;
}

.New-Item-Quantity {
  margin: .5vh 0vh 1.5vh 4.5vh;
}

.New {
  margin-top: 1vh;
}

.Visibility-Container {
  color:#FFFFFF;
  font-size: calc(2px + 2vmin);
  justify-self: left;
  background: transparent;
  margin: .5vh 0vh 1.5vh 4.5vh;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Field-Visibility {
  filter: invert(100%) grayscale(1);
  border-radius: 50%;
}

.New-Account-Link, .Password-Requirements {
  margin: 0vh 5vh 0vh auto;
  color: #FFFFFF;
  text-decoration: none;
}